html {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #000
}

.container {
  margin: 30px auto;
  min-height: 100vh;
  max-width: 700px;
}

hr {
  border-color: #63567b;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin-top: 30px;
  line-height: 1;
}

h1 {
  font-size: 55px;
}

p {
  margin-top: 15px;
}
