<template>
  <header>
    <div>Weathers</div>
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
header {
  position: fixed;
  background-color: rgb(39, 65, 82);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}
</style>
