<template>
  <div class="weather-item">
      <div class="name">{{venue._name}}</div>
      <div class="condition">{{venue._weatherCondition}}</div>
      <div class="temp">{{venue._weatherTemp}}°</div>
  </div>
</template>

<script>
export default {
    props: ['venue'],
};
</script>

<style lang="scss" scoped>
.weather-item{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 40px;
    border-bottom: 2px solid #eee;
    div {
      position: absolute;
    }
    .name, .condition{
      left: 30px;
    }
    .name{
      font-size: 32px;
    }
    .condition{
      margin-top: 50px;
    }
    .temp{
      right: 30px;
      font-size: 60px;
      color: rgb(180,229,233);
    }
}
</style>
