<template>
  <main>

    <div class="back-button" @click="$router.go(-1)"> X </div>
    <div class="item"
      v-for="country in countries"
      :key="country._countryID"
      @click="setCountryId(country)"
    >
      {{ country._name }} <span> > </span>
    </div>
  </main>
</template>

<script>
export default {
  computed: {
    countries() {
      return this.$store.state.countries;
    },
  },
  methods: {
    setCountryId(country) {
      this.$store.dispatch("setCountryId", country);
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss" scoped>
main {
  margin-top: 80px;
}
.back-button {
  position: fixed;
  left: 10px;
  top: 0px;
  font-size: 48px;
  color: #fff;
}
.item {
  margin: 10px;
  border-bottom: 2px solid black;
  span{
      position: absolute;
      right: 20px;
      margin-top: -16px;
      font-size: 36px;
      color: rgb(180,229,233);
  }
}
</style>
