<template>
  <main>
    <div class="container">
      <div class="top-buttons">
        <div
          @click="sortBy('_name')"
          v-bind:class="{ active: sortByField == '_name' }"
        >
          A-Z
        </div>
        <div
          @click="sortBy('_weatherTemp')"
          v-bind:class="{ active: sortByField == '_weatherTemp' }"
        >
          Temperature
        </div>
        <div
          @click="sortBy('_weatherLastUpdated')"
          v-bind:class="{ active: sortByField == '_weatherLastUpdated' }"
        >
          Last Updated
        </div>
      </div>
      <ul>
        <nuxt-link v-for="venue in sortedWeathers" :key="venue._venueID"
         :to="{ name: 'venue', params: { venue }}">
        <Weather-Item v-bind:venue="venue" />
        </nuxt-link>
      </ul>
      <nuxt-link class="footer-button" to="/country">
        <div>Filter</div>
      </nuxt-link>
    </div>
  </main>
</template>

<script>
import WeatherItem from "@/components/WeatherItem.vue";
export default {
  scrollToTop: true,
  data() {
    return {
      sortByField: "_name", // {_name|_weatherTemp|_weatherLastUpdated}
    };
  },
  components:{
    WeatherItem,
  },
  computed: {
    countryId() {
      return this.$store.state.countryId;
    },
    weathers() {
      const weathers = this.$store.state.weathers;
      const countryId = this.countryId;
      console.log(this.countryId)
      if (this.countryId === "") {
        return weathers;
      } else {
        return weathers.filter((weather) => {
          return weather._country._countryID == countryId;
        });
      }
    },
    sortedWeathers() {
      const sortByField = this.sortByField;
      var weathers = [...this.weathers];
      const sorted = weathers.sort((a, b) => {
        if (a[sortByField] < b[sortByField]) return -1;
        if (a[sortByField] > b[sortByField]) return 1;
        return 0;
      });
      if (sortByField !== "_name") {
        return sorted.reverse();
      } else {
        return sorted;
      }
    },
  },
  created() {
    this.$store.dispatch("getWeathers");
  },
  head: {
    title: "Venues Weather",
  },
  methods: {
    sortBy(field) {
      this.sortByField = field;
    },
  },
};
</script>

<style lang="scss" scoped>
main {
  margin: 80px 0;
}

.top-buttons {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  div {
    margin: 10px;
    border-bottom: 2px solid transparent;
  }
  .active {
    font-weight: bold;
    border-bottom: 2px solid blue;
  }
}

.footer-button {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-top: 1px solid gray;
  background-color: #fff;
  padding-top: 20px;
  text-align: center;
}
</style>
