<template>
  <main>
    <div class="back-button" @click="$router.go(-1)"> ᐸ </div>
    <Weather-Item v-bind:venue="venue" />

    <!-- TODO refactor to component if this were used on another page -->
    <div class="weather-more">
        <div class="items item1">
            <div class="label">Feel Like</div>
            <div class="value">{{venue._weatherFeelsLike}}°</div>
        </div>
        <div class="items item2">
            <div class="label">Humidity</div>
            <div class="value">{{venue._weatherHumidity}}</div>
        </div>
        <div class="items item3">
            <div class="label">Wind</div>
            <div class="value">{{venue._weatherWind}}</div>
        </div>
    </div>
    <div class="last-updated">{{ lastUpdated }}</div>
  </main>
</template>

<script>
import WeatherItem from "@/components/WeatherItem.vue";
export default {
  components: {
    WeatherItem,
  },
  computed: {
    venue() {
      return this.$route.params.venue;
    },
    lastUpdated() {
      const dateLocal = new Date(this.venue._weatherLastUpdated * 1000);
      console.log(dateLocal);
      return dateLocal.toLocaleString("en-AU");
    },
  },
};
</script>

<style lang="scss" scoped>
main {
  margin-top: 80px;
}
.back-button {
  position: fixed;
  left: 10px;
  top: 0px;
  font-size: 32px;
  color: #fff;
}
.weather-more{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    border-bottom: 2px solid #eee;
    display: flex;
    flex-direction: row;
    .items{
        flex-grow: 1;
        padding: 10px 0;
    }
    .items .value{
      color: rgb(180,229,233);
    }
}
.last-updated {
  margin-top: 20px;
  text-align: center;
}
</style>
